.modes{
    width: 910px;/*фиксируем ширину обертки*/
    margin: 0 auto;/*центрируем ее*/
    /*background: darkgray;*/
    height: 120px;/*Задаем высоту обертки*/
}
.mode {
    float: left; /*Задаем обтекание*/
    line-height: 120px;/*Высота строки +  верт. центрирования текста*/
    font-size: 40px;
    background: dodgerblue;
    color: white;
    width: 290px; /*Фиксируем ширину блока*/
    margin-right: 20px;
    text-align: center; /*Центрируем текст по горизонтали*/
}
.m3{
    margin-right: 0px;/*Убираем поле последнего div-а*/
}
button{
    width: 200px;
    height: 50px;
    font-family: Arial;
    font-size: 20px;
    background: LimeGreen;
}
.main-field{
    width: 910px;/*фиксируем ширину обертки*/
    margin: 0 auto;/*центрируем ее*/
    margin-top: 20px;
    /*background: darkgray;*/
    height: 400px;/*Задаем высоту обертки*/
    overflow:hidden
}
.clock{
    position:relative;
    float: left; /*Задаем обтекание*/
}
#circle {
    width: 400px;
}
#m-arrow {
    height: 200px;
    position: absolute;
    left:177px;
    top: 15px;
    transform-origin: 50% 185px 0;
}
#h-arrow {
    height: 170px;
    position: absolute;
    left:175px;
    top: 47px;
    z-index: 1;
    transform-origin: 50% 153px 0;
}
.numbers{
    text-align: center;
    font-family: Arial;
    font-size: 140px;
}
#sky{
    width:350px;
    position: absolute;
    bottom:-175px;
    transform-origin: 50% 165px 0;
    transform: rotate(180deg);

}
.scrolls{
    float: left; /*Задаем обтекание*/
    position:relative;
    height: 400px;
    width: 510px;
}
#h-scroll{
    float: left;
    position: absolute;
    bottom:0px;
    right:110px;
    width:100px;
}
#m-scroll{
    float: left;
    position: absolute;
    bottom:0px;
    right:10px;
    width:100px;
}
#h-max, #m-max{
    top:0px;
    left:40px;
}
#h-min, #m-min{
    bottom:0px;
    left:40px;
}
.scroll-text{
    position: absolute;
    font-family: Arial;
    font-size: 30px;
    margin:0;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 20px;
    height: 250px;
    padding: 0 5px;
    float:right;
}